extends layout

block content
  .row
    if teacher || child || parent
      h1 Person Details:
      if teacher
        table.table
          tbody
            tr
              td 
                p.font-weight-bold Teacher Name:
              td #{teacher.firstName} #{teacher.lastName}
            tr
              td 
                p.font-weight-bold Gender:
              td #{teacher.gender}
            tr
              td
                p.font-weight-bold Age:
              td #{teacher.age}
            tr
              td 
                p.font-weight-bold Subject: 
              td #{teacher.subject}
            tr
              td 
                p.font-weight-bold Experience since:
              td #{teacher.startWorkingDate}

      if child
        table.table
          tbody
            tr
              td 
                p.font-weight-bold Child Name:
              td #{child.firstName} #{child.lastName}
            tr
              td 
                p.font-weight-bold Gender:
              td #{child.gender}
            tr
              td 
                p.font-weight-bold Age:
              td #{child.age}
            tr
              td 
                p.font-weight-bold Subjects: 
              td #{child.subjects}
            tr
              td 
                p.font-weight-bold List of marks
              td #{child.listOfMarks}
            tr
              td 
                p.font-weight-bold Parents:
              td #{child.parents}

      if parent
        table.table
          tr
            td 
              p.font-weight-bold Parent Name:
            td #{parent.firstName} #{parent.lastName}
          tr
            td 
              p.font-weight-bold Gender: 
            td #{parent.gender}
          tr
            td 
              p.font-weight-bold Age:
            td #{parent.age}
          tr
            td 
              p.font-weight-bold Children:
            td #{parent.children}
    else
      h1 There's no such person!