extends layout

block content
  if teacher || child || parent
    h1 Person Details:
    if teacher
      p Teacher Name: #{teacher.firstName} #{teacher.lastName}
      p Gender: #{teacher.gender}
      p Age: #{teacher.age}
      p Subject: #{teacher.subject}
      p Experience since: #{teacher.startWorkingDate}

    if child
      p Child Name: #{child.firstName} #{child.lastName}
      p Gender: #{child.gender}
      p Age: #{child.age}
      p Subjects: #{child.subjects}
      p List of marks: #{child.listOfMarks}

    if parent
      p Parent Name: #{parent.firstName} #{parent.lastName}
      p Gender: #{parent.gender}
      p Age: #{parent.age}
      p Children: #{parent.children}
  else
    h1 There's no such person!